<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Chat</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="conteiner-fluid align" align="center" style="margin-top:200px;">

	<form action="arquivo" method="post" enctype="multipart/form-data" >
	
		<label>Escolha um arquivo: </label> <input type="file" name="file" id="file">
		<br>
		<br>
		<button style="margin-top:30px;" type=submit >Enviar</button>
	</form>

</div>
<script src="websocket.js"></script>
</body>
</html>