<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Chat</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div id="messages"></div>
<input type="hidden" th:value="${nome}" id="nome" name="nome" />
<button id="conectar">Conectar</button>
<div class="conteiner-fluid align" align="center" style="margin-top:150px;">
	<div class="chat-container col-sm-6 text-left">
            <div class="chat-header">
                <h2>Chat Privado</h2>
            </div>
            <div class="connecting">
                Connecting...
            </div>
            <ul id="messageArea" style="max-height: 300px;">
			
            </ul>
            <form id="messageForm" name="messageForm">
                <div class="form-group">
                    <div class="input-group clearfix">
                        <input type="text" id="message" placeholder="Escreva uma mensagem..." autocomplete="off" class="form-control"/>
                        <button type="submit" class="primary">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
</div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/openpgp/4.6.0/compat/openpgp.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/openpgp/4.6.0/compat/openpgp.worker.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/openpgp/4.6.0/openpgp.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/openpgp/4.6.0/openpgp.worker.js"></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="privado.js"></script>
</html>