<html  lang="pt-br" xmlns:th="https://www.thymeleaf.org">
<head>
<title>Chat</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="conteiner-fluid" align="center" style="margin-top:200px;">
	<form method="post" id="form" enctype="multipart/form-data">
	
		<div>
			<label>Chave Privada: </label> <input th:value="${filePriv}" type="file" name="filePriv" id="filePriv">
		</div>
		<div>
			<label>Chave Pública: </label> <input th:value="${filePub}" type="file" name="filePub" id="filePub">
		</div>
		<div>
			<label>Frase de segurança: </label> <input th:value="${frase}" type="text" name="frase" id="frase">
		</div>
	
		<input type="text" th:value="${nome}" name="nome" id="nome" placeholder="Digite seu nome" class="text-center"/>
	</form>
	
	<div class="row" style="margin-top: 10px;"></div>
	
	<button type="submit" form="form" formaction="/geral">Chat geral</button>
	<button type="submit" form="form" formaction="/privado">Chat privado</button>
</div>	
	
</body>

</html>